<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text=${game.name}></title>
<link rel="stylesheet"
  href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/card.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap"
  rel="stylesheet">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <h1 id="nameOfGame" th:text="${game.name}"></h1>
  <div th:if="${isLogged}">
    <div th:if="${!isAlreadyLiked}">
      <form name="like_form" th:action="@{/addGame}" method="post">
        <input type="hidden" th:value="${game.name}" name="gameToAdd" />
        <button type="submit" name="btn_like">Like</button>
      </form>
    </div>
  </div>
  <div>
    Release Date:
    <div id="releaseDate"
      th:text="${#dates.format(game.releaseDate, 'dd-mm-yyyy')}"></div>
  </div>
  <div>
    Description:
    <div id="description" th:text="${game.description}"></div>
  </div>
  <div th:if="${game.users == null or game.users.empty}">
    <h2>No users like this game yet...</h2>
  </div>
  <div th:unless="${game.users == null or game.users.empty}">
    <h2>Users who liked this game:</h2>
    <table id="usersFans">
      <tr th:each="user : ${game.users}">
        <td><a th:href="@{'/profile/' + ${user.username}}"> <span
            th:text="${user.username}"></span>
        </a></td>
      </tr>
    </table>
  </div>
  <a th:href="@{/}">Homepage</a>
</body>
</html>