<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    
    <div><a th:href="@{/}">Go back to homepage</a></div>
    
    <form name="login_form" th:action="@{/verifyLogin}" method="post">
      <p>
        Username: <input type="text" name = "username" autofocus="autofocus"/>
      </p>
      <p>
        Password: <input type="text" name = "password"/>
      </p>
      <button type="submit" name="btn_submit">Log in</button>
    </form>

  </body>
</html>