<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Password error</title>
<link rel="stylesheet"
  href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/card.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap"
  rel="stylesheet">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div th:unless="${message.empty}">
    <div th:text="${message}"></div>
  </div>
  <div>
    Return to <a th:href="@{/}">Homepage</a>
  </div>
</body>
</html>