<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text=${user.username}></title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/card.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap"
	rel="stylesheet">
<script type="text/javascript" th:src="@{/js/websocket.js}"></script>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h2 class="font-weight-bold my-5" th:text="${user.username}"></h2>
		<div class="card">
			<div class="row">
				<!-- Table of Followed list -->
				<div class="col col-6 text-center" id="userFollowed">
					<div>
						<h3 class="mb-4">Users followed</h3>
					</div>
					<div>
						<div
							th:if="${user.followedUsers == null or user.followedUsers.empty}">
							<h5>No Users</h5>
						</div>
						<div
							th:unless="${user.followedUsers == null or user.followedUsers.empty}"
							th:each="followed : ${user.followedUsers}">
							<h5>
								<a th:href="@{'/profile/' + ${followed.username}}"> <span
									th:text="${followed.username}"></span>
								</a>
							</h5>
						</div>
					</div>
				</div>
				<!-- Table of Games list -->
				<div class="col col-6 text-center" id="games">
					<div>
						<h3 class="mb-4">Games</h3>
					</div>
					<div>
						<div th:if="${user.games == null or user.games.empty}">
							<h5>No Games</h5>
						</div>
						<div th:unless="${user.games == null or user.games.empty}"
							th:each="game : ${user.games}">
							<h5>
								<a th:href="@{'/game/' + ${game.name}}"> <span
									th:text="${game.name}"></span>
								</a>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mt-5" th:if="${isLogged and isMyProfile}">
			<form name="changePassword_form" th:action="@{/changePassword}"
				th:object="${changePasswordForm}" method="post">
				<h3>Change password</h3>
				<div class="mt-4">
					<label for="oldPassword">Old password:</label> <input
						name="oldPassword" type="password" th:field="*{oldPassword}"
						class="form-control" />
				</div>
				<div class="mt-4">
					<label for="newPassword">New password:</label> <input
						name="newPassword" type="password" th:field="*{newPassword}"
						class="form-control" />
				</div>
				<div class="text-right mt-4">
					<button class="btn btn-primary" type="submit" name="btn_change">Change
						password</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col col-6 text-left">
				<a class="btn btn-primary mt-4 ml-3 mb-4" th:href="@{/}">Go back
					to homepage</a>
			</div>
			<div class="col col-6 text-right">
				<div th:if="${isLogged and not isMyProfile}">
					<div th:if="${!isAlreadyFollowed}">
						<form name="addToFollowed_form" th:action="@{/addUser}"
							method="post">
							<input type="hidden" th:value="${user.username}"
								name="followedToAdd" />
							<button class="btn btn-primary mt-4 mr-3" type="submit"
								name="btn_add">Follow</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>